@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image1 {
  background-image: url("../assets/newbg.gif");
}
.image2 {
  background-color: white;
}
.image3 {
  background-color: black;
}
.image4 {
  background-image: url("../assets/bg.png");
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
    color: white;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    color: black;
  }
}

.slide-from-bottom {
  animation: slideInFromBottom 2s ease-in-out forwards;
  animation-delay: 0.1s;
}

.slide-from-bottom:nth-child(2) {
  animation-delay: 0.2s;
}

.slide-from-bottom:nth-child(3) {
  animation-delay: 0.3s;
}

.bg-down {
  background: linear-gradient(140.86deg, #65ecd8 11.07%, #fdef78 80.28%);
}
.background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
